<div id="<%= dom_id enginer %>">
  <p>
    <strong>Tipo de Equipamiento:</strong>
    <%= enginer.equipment_type %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= enginer.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= enginer.descripcion %>
  </p>

</div>

