<h1>Editing maintenance</h1>

<%= render "form", maintenance: @maintenance %>

<br>

<div>
  <%= link_to "Show this maintenance", @maintenance %> |
  <%= link_to "Back to maintenances", maintenances_path %>
</div>
